---
import CategoryBar from "@components/features/posts/CategoryBar.astro";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPostsList } from "@utils/content-utils";

import { siteConfig } from "../config";

const sortedPostsList = await getSortedPostsList();

const showCategoryBar = siteConfig.postListLayout.categoryBar?.enable ?? false;

---

<MainGridLayout title={i18n(I18nKey.archive)}>
	{showCategoryBar && <CategoryBar />}
	<!-- 引入右侧边栏布局管理器 -->
	<script>
		import("../scripts/right-sidebar-layout.js");
	</script>

	<span>扩展</span>

</MainGridLayout>
